<div>
  <a routerLink="/Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a
  ><span class="navSpace">|</span>
  <a routerLink="/Dashboard" routerLinkActive="active">Dashboard</a
  ><span class="navSpace">|</span>
  <a routerLink="XYZ" routerLinkActive="active">XYZ</a
  ><span class="navSpace">|</span>
  <a routerLink="/Employee" routerLinkActive="active">Employee</a
  ><span class="navSpace">|</span>
  <a routerLink="/Department" routerLinkActive="active">Department</a>
</div>
